.container {
    display: grid;
    place-items: center;
    height: 100vh;
    padding-left: 20px;
}

.image-container {
    margin-bottom: 30px;
}

.template-cookie-text {
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #000000;
}

.template-cookie-heading {
    font-size: 48px;
    line-height: 1.5;
    font-weight: bold;
    color: #05a64b;
}

/* Для компьютеров и ноутбуков */
@media only screen and (min-width: 1024px) {
    .container {

      max-width: 960px;
      margin: 0 auto;
      padding: 20px;
    }
  
    .image-container {
      margin-bottom: 40px;
    }
  
    .image-container img {

      width: 80%;
    }
  
    .button-on-image {
      bottom: 20px;
      left: 20px;
    }
  }
  

/* Для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {

      padding: 10px;
    }
  
    .image-container {
      margin-bottom: 20px;
    }
  
    .image-container img {

      width: 60%;
    }
  
    .button-on-image {
      bottom: 10px;
      left: 10px;
    }
  }

/* Для телефонов */
@media only screen and (max-width: 767px) {
    .container {
      padding: 5px;
    }
  
    .image-container {
      margin-bottom: 10px;
    }
  
    .image-container img {
      width: 100%;
    }
  
    .button-on-image {
      bottom: 5px;
      left: 5px;
      padding: 5px 10px;
    }
  }
